<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div  *ngIf="isLoading" text-center>
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div text-center *ngIf="!isLoading && offers.length <= 0">
          <p>No offers found! Please create one first!</p>
          <ion-button color="primary" routerLink="/places/tabs/offers/new">
            Offer New Place
          </ion-button>
        </div>
        <ion-list *ngIf="!isLoading && offers.length > 0">
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
             <app-offer-item [offer]="offer"></app-offer-item>
              <ion-item-options>
                <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>