<div class="picker">

  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>

  <ion-img class="location-image" role="button" (click)="onPickLocation()" [src]="selectedLocationImage" *ngIf="selectedLocationImage && !isLoading"></ion-img>

  <ion-button color="primary" (click)="onPickLocation()" *ngIf="!selectedLocationImage && !isLoading">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label> Select Location </ion-label>
  </ion-button>

</div>