<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Signup'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email: </ion-label>
              <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label>Should be a valid email</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password: </ion-label>
              <ion-input type="password" ngModel name="password" required minlength="5" 
              #passwordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>Should be valid with at least 5 characters</ion-label>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">
            Switch to {{ isLogin  ? 'Signup' : 'Login'}}
          </ion-button>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid" (click)="onLogin()">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>