// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #f72664;
  --ion-color-primary-rgb: 247, 38, 100;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d92158;
  --ion-color-primary-tint: #f83c74;


  /** secondary **/
  --ion-color-secondary: #ac0e86;
  --ion-color-secondary-rgb: 172, 14, 134;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #970c76;
  --ion-color-secondary-tint: #b42692;

  /** tertiary **/
  --ion-color-tertiary: #8400ff;
  --ion-color-tertiary-rgb: 132, 0, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7400e0;
  --ion-color-tertiary-tint: #901aff;
 

  /** success **/
  --ion-color-success: #75cc53;
  --ion-color-success-rgb: 117, 204, 83;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #67b449;
  --ion-color-success-tint: #83d164;

  /** warning **/
  --ion-color-warning: #ffb732;
  --ion-color-warning-rgb: 255, 183, 50;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a12c;
  --ion-color-warning-tint: #ffbe47;

  /** danger **/
  --ion-color-danger: #f04023;
  --ion-color-danger-rgb: 240, 64, 35;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d3381f;
  --ion-color-danger-tint: #f25339;


  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
 --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Custom CSS elements **/
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}
