<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isLoading ? 'Loading...' : place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div> 
  <ion-grid no-padding *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3" text-center padding>
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isBookable" >
      <ion-col size-sm="6" offset-sm="3" text-center>
        <ion-button color="primary" margin (click)="onBook()">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
